.ms-tileview-tile-content .ms-tileview-tile-detailsBox {
	transition: top .5s;
	top: 100px;
}

.ms-tileview-tile-content:hover .ms-tileview-tile-detailsBox { top: 0; }


#DeltaPlaceHolderMain { margin-top: -1.3em; }

.ms-navedit-editLinksText { display: none; }

.ms-breadcrumb-box { width: calc(100% - (200px)); }

#DeltaPlaceHolderMain { width: 100%; }

#globalNavBox, #s4-ribbonrow { height: auto !important; }

#contentBox { min-width: 0; }

#no-clicky:hover { cursor: pointer; }

/* Menu contextuel de la roue crantée */
.o365cs-nav-contextMenu { display: none; right: 164px !important; left: auto !important; } /* Par défaut, ce menu est caché */
.o365button.o365cs-contextMenuItem { background-color: white; }
.o365button.o365cs-contextMenuItem:hover { text-decoration: none; background-color: #cde6f7;} /* Quand on hover sur un des boutons */

div[class^="o365cs-nav-"] { background-color: #0072c6; }

input.ms-cui-cb-input { height: 21px; }

.ms-cui-dd-arrow-button span { top: 40%; }

body { position: relative; }

#solucom-modal {
	display: none;
	background-color: rgba(0,0,0,0.3);
	height: 100%; width: 100%;
	min-height: 100vh;
	position: absolute; top: 0; left: 0;
	z-index: 2002; /* Au dessus du menu */
}

#solucom-modal .container {
	background-color: white;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	padding: 1rem;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 1px 1px 20px -5px #000;
	display: table;
}

#solucom-modal .container > .subcontainer,
#solucom-modal .container > .content { display: table-cell; vertical-align: top; }

#solucom-modal .content { padding: 1rem; max-width: 480px; }

#solucom-modal .content:before {
	content: "Shupert the SharePoint Shrimp :";
	display: block;
	font-weight: bold;
	color: #3FA9F5;
}

#solucom-modal img { max-height: 150px; }

#solucom-modal .container:hover { cursor: pointer; }

#solucom-modal .container:after {
	content: "x";
	font-weight: bold;
	color: #ccc;
	position: absolute;
	top: 5px;
	right: 10px;
	transition: all 0.5s;
}

#solucom-modal .container:hover:after {
	color: #3FA9F5;
}

hr { margin: 2em 0; }

#footer { position: fixed; bottom: 0; color: white; text-align: center; padding: 1rem 2rem; background-color: #0072c6; box-shadow: 1px 1px 20px -5px #000; transition: all 0.5s; box-sizing: border-box; width: 100%; }
#footer:hover { opacity: 0.1; }

#welcome-news { margin: 1em 0; }
#welcome-news .news-row { }
#welcome-news .article { float: left; padding: 1rem 2rem; background-color: #0072c6; color: white; border-right: 1px solid white; border-bottom: 1px solid white; width: 50%; box-sizing: border-box; height: 100%; transition: all .5s; min-height: 17em; cursor: pointer; }
#welcome-news .article h1 { color: white; }
#welcome-news .article:hover { background-color: #004498; }

.anchor { clear: both; }


.toggle-edit-mode { cursor: pointer; }



/* expanding textarea plugin */

textarea {
	width: 100%;
	resize: none; outline: none;
	min-height: 50px;
	padding: 0px;
	border: 0px none;
	margin: 1em 0;
	transition: all .5s;
	box-sizing: border-box;
	max-width: 72rem; 
}

.edit-mode textarea {
	padding: 5px 10px;
	border: 1px solid #999;
}

.noscroll {
    overflow: hidden;
}

.hiddendiv {
	max-width: 72rem;
    display: none;
    white-space: pre-wrap;
    width: 100%;
    min-height: 50px;
    word-wrap: break-word;
    box-sizing: border-box;
}

#edit-or-save-button.save { top: -341px !important; left: -409px !important; }
#edit-or-save-button.edit { top: -171px !important; left: -137px !important; }

.ms-cui-dd-arrow-button { height: 26px; }

#RibbonContainer-TabRowRight { display: none !important; }

h1.pageTitle { max-width: 72rem; margin-left: 0; }